section h1 {
    line-height: 1.4em;
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 30px;
    background: url("/assets/circle-minus.png") no-repeat; 
}

ul, ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
}

ul li {
    cursor: pointer;
    margin-top: 0.5em;
}
li:hover {
    opacity: 0.5;
}

li > span.selected {
    color: #9DC040;
}